html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    overflow: hidden;
}

nav.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 5vh;
    background-color: #58595B;
}

nav.header img.home-button {
    height: 5vh;
}

nav.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.viewer-container {
    width: 100%;
    height: 95vh;
}

/* Part of preventing flash of unstyled content */
html {
    visibility: visible;
}

