html, body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #FF8200;
    color: #333333;
}

a {
    color: #006C93;
    text-decoration: underline;
}

/* --------------- Header --------------- */
nav.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 50px;
}

nav.header img {
    height: 100%;
    width: auto;
}

nav.header h1 {
    align-self: center;
}

nav.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav.header ul li {
    display: inline-flex;
}

nav.header ul li:hover {
    background-color: #58595B;
}

nav.header button#sidebar-toggle {
    background: none;
    border: none;
    width: 60px;
}

nav.header img#sidebar-toggle-icon {
    width: 100%;
}

/* --------------- Viewer --------------- */
div.app {
    width: 100%;
    height: calc(100% - 50px);
}

.content-container {
    z-index: 1;
    float: left;
    width: calc(100% - 250px);
    top: 50px;
    bottom: 0;
    position: fixed;
}

.content-container canvas {
    display: block;
}

/* --------------- Non-viewer content --------------- */

div.html-content {
    font-family: 'Tinos', serif;
    margin: auto;
    padding: 0 1em;
    max-width: 30em;
}
.html-content p {
    text-align: justify;
    hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
}
.html-content code {
    padding: 0.5%;
    background-clip: border-box;
    background-color: #e5e5e5;
    border-radius: 10%;
}
.html-content figure img {
    max-width: 100%;
}
.html-content figcaption {
    text-align: center;
}

/* --------------- Sidebar --------------- */
nav.sidebar {
    z-index: 0;
    float: right;
    width: 250px;
    height: 100%;
    background-color: #F6F6F6;
    border-left: 10px solid #FF8200;
    box-sizing: border-box;
    color: #333333;
    padding: 0;
}

.sidebar section {
    margin: 1em;
}

.sidebar ul {
    list-style-type: "➤ ";
    list-style-position: inside;
    color: #58595B;
    padding: 0;
    margin: 0;
}

.sidebar h2 {
    color: #58595B;
    margin-bottom: 1ex;
}

/* Part of preventing flash of unstyled content */
html {
    visibility: visible;
}
