@font-face {
    font-family: 'STIX 2 Text';
    font-style: normal;
    src: url('assets/STIX2Text-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'STIX 2 Text';
    font-style: italic;
    src: url('assets/STIX2Text-Italic.woff2') format('woff2');
}

@font-face {
    font-family: 'STIX 2 Text';
    font-style: normal;
    font-weight: bold;
    src: url('assets/STIX2Text-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'STIX 2 Text';
    font-style: italic;
    font-weight: bold;
    src: url('assets/STIX2Text-BoldItalic.woff2') format('woff2');
}
