<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Prevent flash of unstyled content (FOUC) -->
    <style>html { visibility: hidden; }</style>
</head>
<body>
    <h1>Three-Dimensional Model Viewer for Illustrating Structural Steel Concepts</h1>
    
    <p>One of the more difficult challenges for students in introductory structural steel design courses is developing a physical understanding for members, connections, and limit states. Often the most efficient and precise way of conveying this information is with two-dimensional drawings like structural details and plans. However, unlike professional engineers, most students have not yet developed the skill to translate a two-dimensional drawing to its three-dimensional reality in their mind.</p> 
    
    <p>This site was inspired by the Rosetta Stone. A breakthrough in understanding ancient Egyptian hieroglyphs was made possible by comparing the three versions of the same text inscribed on the Rosetta Stone. With the goal of helping students make breakthroughs of their own, this site also presents information in multiple ways, with three-dimensional models, two-dimensional drawings, photographs, calculations, and more.</p> 
    
    <p>The initial set of collections on this site focuses on connections for structural steel tension members. However, we plan to add more over time.</p> 
    
    <h2>Models</h2>
    <ul>
        <li><a href="./double-angle#3D-model">Double Angle Connection</a></li>
        <li>Slotted HSS Connection</li>
        <li>WT Connection</li>
        <li><a href="./wf-truss#Block-shear-rupture">WF Gusset Plate Connection</a></li>
    </ul>

    <h2>Course Integration</h2>
    
    <p>This tool can be incorporated into introductory structural steel design courses as a visual aid to accompany a traditional lecture or as a resource for students outside the classroom. It was designed for use on desktop computers (e.g., for projection to a screen) as well as mobile devices for students who wish to control the rotation and zoom themselves.</p>

    <h2>Contributing</h2>
    
    <p>This site was built to expand. Additional collections are welcome. And not just additional connections. We have plans for a set of collections to illustrate different buckling modes (e.g., flexural buckling, torsional buckling, local buckling). This site is suitable for material that illustrates any concept in structural steel design where an easy-to-access three-dimensional model with accompanying information would be beneficial.</p>    

    <p>DETAILS ON HOW TO CONTRIBUTE ARE FORTHCOMING.</p>

    <h2>About</h2>
    
    <p>This project was developed by Mark Denavit and Peter Talley at the University of Tennessee, Knoxville. Funding for this project was provided by the American Institute of Steel Construction (AISC) through the Teaching Aid Development Program.</p>
</body>
</html>
