<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">

    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <a href="https://www.aisc.org/universityprograms"><img src="assets/AISC_lockup_university_programs.png"></a>

    <h1>Three-Dimensional Model Viewer for Illustrating Structural Steel Concepts</h1>

    <p>One of the more difficult challenges for students in introductory structural steel design courses is developing a physical understanding for members, connections, and limit states. Often the most efficient and precise way of conveying this information is with two-dimensional drawings like structural details and plans. However, unlike professional engineers, most students have not yet developed the skill to translate a two-dimensional drawing to its three-dimensional reality in their mind.</p>

    <p>This site was inspired by the Rosetta Stone. A breakthrough in understanding ancient Egyptian hieroglyphs was made possible by comparing the three versions of the same text inscribed on the Rosetta Stone. With the goal of helping students make breakthroughs of their own, this site also presents information in multiple ways, with three-dimensional models, two-dimensional drawings, photographs, calculations, and more.</p>

    <h2>Collections</h2>
    <h3>Tension members</h3>
    <ul>
        <li><a href="./double-angle/#3D-model">Double Angle Connection</a></li>
        <li><a href="./slotted-hss/#3D-model">Slotted HSS Connection</a></li>
        <li><a href="./wt-plate/#3D-model">WT Connection</a></li>
        <li><a href="./wf-truss/#3D-model">WF Gusset Plate Connection</a></li>
    </ul>
    <h3>Buckling modes</h3>
    <ul>
        <li><a href="./buckling-wf-columns/#Case-A">Wide Flange Column</a></li>
        <li><a href="./buckling-i-shaped-beam/#Flange-local-buckling">I-shaped Beam</a></li>
        <li><a href="./buckling-hss/#Flexural-buckling">Square HSS</a></li>
        <li><a href="./buckling-double-angle/#Flexural-buckling">Double Angle</a></li>
    </ul>

    <h2>Course Integration</h2>

    <p>This tool can be incorporated into introductory structural steel design courses as a visual aid to accompany a traditional lecture or as a resource for students outside the classroom. It was designed for use on desktop computers (e.g., for projection to a screen) as well as mobile devices for students who wish to control the rotation and zoom themselves.</p>

    <h2>Contributing</h2>

    <p>This site was built to expand. Additional collections are welcome. And not just additional connections and buckling modes. This site is suitable for material that illustrates any concept in structural steel design where an easy-to-access three-dimensional model with accompanying information would be beneficial.</p>

    <p>See <a href="./docs/#Getting-started">the documentation</a> for more details.</p>

    <h2>About</h2>

    <p>This project was developed by Mark Denavit and Peter Talley at the University of Tennessee, Knoxville. Funding for this project was provided by the American Institute of Steel Construction (AISC) through the Teaching Aid Development Program.</p>

    <div class="logo-container">
        <a href="https://www.aisc.org"><img src="./assets/aisc-logo.jpg" alt="AISC Logo"></a>
        <a href="https://utk.edu"><img src="./assets/utk-logo.png" alt="University of Tennessee, Knoxville Logo"></a>
    </div>
</body>
</html>
