<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <!-- Prevent flash of unstyled content (FOUC) -->
    <style>html { visibility: hidden; }</style>
</head>
<body>
    <h1>Web-Based Three-Dimensional Model Viewer for Illustrating Structural Steel Concepts</h1>
    
    <h2>Models</h2>
    <ul>
        <li><a href="models/double-angle-connection.html">Neyland Stadium Connection</a></li>
        <li><a href="">Slotted HSS Connection</a></li>
        <li><a href="">WT Connection</a></li>
        <li><a href="models/wf-truss-connection.html">WF Gusset Plate Connection</a></li>
    </ul>

    <h2>Course Integration</h2>
    <p>
        The best method that I envision to incorporate the tool into a
        curriculum is by utilizing it as a visual aid in existing lectures. Each
        of the initial models that I described in the proposal is based on an
        example that I present in class when covering bolted and welded
        connections for tension members. If developed, I plan to use the tool
        during my lectures to visually explain concepts like net area for the
        tensile rupture and block shear limit states (e.g., An, Ant, Anv). The
        tool will be viewable on computers and smart phones, so I plan to
        project the tool on a screen during lecture and also encourage the
        students to do the same on their smart phones if they are interested in
        controlling the rotation and zoom themselves. A complimentary use of
        this tool that I envision, is that the students will later refer to the
        three-dimensional model to reinforce the concepts as they are reviewing
        or studying for an exam.
    </p>

    <h2>Contributing</h2>
    <p>
        This site was built to expand. Additional models are welcome. And not
        just additional connections. We have plans for a set of models to
        illustrate different buckling modes (e.g., flexural buckling, torsional
        buckling, local buckling). This site is suitable for models that concept
        in structural where a easy to access three-dimensional model with
        accompanying information would be benefical
    </p>    

    <p>   
        DETAILS ON HOW TO CONTRIBUTE ARE FORTHCOMING.
    </p>

    <h2>About</h2>
    <p>
        This project was developed by Mark Denavit and Peter Talley at the
        University of Tennessee, Knoxville. Funding for this project was
        provided by the American Institute of Steel Construction (AISC) through
        the Teaching Aid Development Program.
    </p>
</body>
</html>
